.categoriesContainer{
    display:flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
}
.categoriesWrapper{
  display: flex;
  flex-direction: column;
}
.category{
    display: flex;
    width: 95%;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    
}

.categoriesMainTitle{
  font-family: 'Benoa-bold';
  color: white;
  -webkit-text-stroke: 1px black;
  font-size: 40px;
}
.categoryName{
    font-family: 'Benoa-bold';
    margin-bottom: 5px;
    font-size: 30px;
    color: white;
  -webkit-text-stroke: 1px black;
}
.categoryImg{
    width: 300px;
    height: 300px;
    border-radius: 5px;
    transition: ease 0.5s;
}


.productsWrapper{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.productContainer{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
   
}
.allProducts{
    display:flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3rem 0;
}
.oneproduct{
  display:flex;
  gap: 20px;
  height: 50vh;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3rem 0;
}

.productMainImg{
    width: 12rem;
    height: 12rem;
    border-radius: 5%;
    
}

.productDetailButtonContainer{
  text-align: center;
}
.moreInfoButton{
    width: 10rem;
    height: 35px;
    background-color: #00AEE7;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-family: 'Benoa-regular';
}
.moreInfoButton:hover{
    background-color: #1BA74A;
}
.productDetailContainer{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 5rem;
}
.imageContainer{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.productImg{
    width: 90%;
    border-radius: 5px;
}
.pathLinks{
    display: flex;
    width: 95%;
    flex-wrap: wrap;

}
.pathItem{
    
    text-transform: uppercase;
    color: white;
    margin-bottom: 15px;
}
.divisor{
    color: white;
   width: 90%;
   border: 1px solid white;
   margin-top: 10px;
}
.dataGrapper{
  display: flex;
  padding: 5%;
  flex-direction: column;
  align-items: center;
}
.productData{
    display: flex;
    padding: 0 5%;
    flex-direction: column;
    margin-top: 10px;
}

.productName{
    font-family: 'Benoa-regular';
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}
.productPrice{
  font-size: 24px;
}
.productDetailName{
  font-family: 'Benoa-regular';
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-align: center;
}
.smallDivisor{
    width: 15%;
    border: 1px solid white;
    margin-top: 10px;
}
.productDescription{
  font-family: 'Benoa-regular';
    margin: 15px 0px;
    font-size: 20px;
    color:white
}
.orderButton{
    width: 11rem;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 40px;
    background-color: #00AEE7;
    color: white;
    font-family: 'Benoa-regular';
}

@media only screen and (min-width: 992px) {
  .categoriesWrapper{
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .category{
    width: 25%;
  }
  .allProducts{
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 5rem 0;
    align-items: center;
    width: 100%;
  }
  .productMainImg{
    width: 15rem;
    height: 15rem;
  }
  .productImg{
    width: 40%;
  }
  .pathLinks{
    display: flex;
    width: 95%;
    flex-wrap: wrap;
    justify-content: center;
  }
}