.MainProductsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;

}
.ProductsWrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 90%;

}
.mainProductContainer{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.mainProductMainImg{
    width: 10rem;
    height: 10rem;
}