.sellPointsTitle {
  font-family: 'Benoa-regular';
  color: white;
  font-size: 40px;
}
.sellPointsWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sellPointsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sellPointContainer {
  display: flex;
  width: 95%;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
  border-radius: 30px;
  padding: 5px;
  border-bottom: 1px solid white;
  background-color: rgba(0,0 ,0,0.3);
  transition: ease 0.4s;
}

.sellPointName {
  font-family: 'Benoa-regular';
  color: white;
}
.locationMap {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
}

.sellPointData {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
}
.sellPointAdress {
  font-size: 21px;
  color: white;
}
.sellPointPhone {
  font-size: 20px;
  color: white;
}
.sellPointSocial {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 15px;
  margin-bottom: 5px;
}
#sellPointsIcons {
  font-size: 28px;
  color: #e6e6e6;
}

@media only screen and (min-width: 992px) {
  .sellPointsContainer {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 3rem;
  }
  .sellPointContainer {
    width: 30%;
    border: 1px solid white;
  }
  .locationMap {
    width: 100%;
    height: 200px;
  }
  .sellPointData {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .sellPointName, .sellPointAdress, .sellPointPhone{
    color: white;
  }
}
