
.sellPointsWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sellPointContainer{
    display: flex;
    width: 95%;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
}
.locationMap{
    width: 100%;
    margin-bottom: 20px;
}

.sellPointData{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
}
.sellPointSocial{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 10px;
}