.contactContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 50px;
    font-family: 'Benoa-regular';
    
}
.contactTitle{
  font-family: 'Funny-munk';
  color: white;
  -webkit-text-stroke: 1px black;
  font-size: 40px;
}
.contactQuote{
    font-size: 18px;
    font-weight: bold;
    
    margin-bottom: 1rem;
    text-align: center;
}
.formContainer{
    width: 100%;
}
.nameAndEmailContainer{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-left: 10px;
}
.nameInput,.emailInput{
    width: 100%;
    height: 40px;
    border: 1px solid #000;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 14px;
    padding: 0;
}
textarea{
    border-radius: 5px;
    font-size: 14px;
    
}
.submitButton{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.contactButton{
    text-align: center;
    width: 40%;
    height: 40px;
    border-radius: 5px;
    font-size: 18px;
    background-color: #00AEE7;
    color: #fff;
    font-family: 'Benoa-regular';
}
.contactButton:hover{
    background-color: #fff;
    color: #1BA74A;
}