.contactContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 50px;
    
}
.contactQuote{
    font-size: 18px;
    font-weight: bold;
    
    margin-bottom: 1rem;
    text-align: center;
}
.formContainer{
    width: 100%;
}
.nameAndEmailContainer{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-left: 10px;
}
.nameInput,.emailInput{
    width: 100%;
    height: 50px;
    border: 1px solid #000;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 18px;
    padding: 0;
}
textarea{
    border-radius: 5px;
    font-size: 18px;
}
.submitButton{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.contactButton{
    text-align: center;
    width: 45%;
    height: 50px;
    border-radius: 5px;
    font-size: 18PX;
    background-color: rgb(11, 155,242);
    color: #fff;
}
.contactButton:hover{
    background-color: #fff;
    color: green;
}