.slider {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button:first-child {
  left: 10px;
}

button:last-child {
  right: 10px;
}