/* @font-face{
  font-family: 'Benoa';
  src: url('/src/assets/fonts/Benoa/Demo_Fonts/Fontspring-DEMO-benoa-regular.otf');
}
 */
.AppContainer{
    font-family:  sans-serif;
    font-weight: 500;

    
background: rgb(253,187,45);
background: linear-gradient(180deg, rgba(253,187,45,1) 0%, rgba(247,45,253,1) 100%);
}