/* @font-face{
  font-family: 'Benoa';
  src: url('/src/assets/fonts/Benoa/Demo_Fonts/Fontspring-DEMO-benoa-regular.otf');
}
 */
.AppContainer{
    font-family:  sans-serif;
    font-weight: 500;

    
background: black
}

.whatsappButton{
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.logo{
  width: 60px;
}